.canvas {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#myCanvas {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: url("images/background1.png");
    background-size: contain;
    filter: brightness(105%);

}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #c5eee9;
    margin: 0, 20px;
}
header {
    /* font-style: italic; */
    padding-bottom: 15px;
    font-size: 60px;
    text-align: center;
    color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.div-body {
    width: 800px;
    margin: 0 auto;
}
.intro {
    margin-top: 20px
}
.controls {
    float: left;
}
.hr {
    background-color: black;
}
.container {
    font-size: 20px;
    font-family: 'Maven Pro', sans-serif;
}
.player-img {
    align-self: flex-end;
}
h3 {
    font-size: 30px;
    font-weight: bold;
}
.intro {
    margin-top: 20px;
  }
.text-left {
    text-align: left;
    font-size: 17px;
}
.text-right {
    text-align: right;
    font-size: 16px;
}
.text-right.p {
    padding: 0;
}
.footer {
    margin: 20px 0;
    text-align: right;
  }
  
.footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: lighter;
}